.data-grid-container {
  height: 75%;
  padding: 2%;

  .data-grid-title {
    font-size: 1.4rem;
    color: gray;
    padding: 0 0 1% 2%;
  }

  .table-cell-image-container {
    display: flex;
    align-items: center;

    .table-cell-image {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 25px;
    }
  }

  .status-cell {
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.05);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(255, 217, 0, 0.05);
    }
    &.passive {
      color: crimson;
      background-color: rgba(255, 0, 0, 0.05);
    }
  }

  .action-cell {
    display: flex;
    align-items: center;
    gap: 15px;

    .action-button-view {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .action-button-delete {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}
